# Python библиотека moexalgo

```pip install --upgrade moexalgo```

https://github.com/moexalgo/moexalgo

## 1. Новый способ авторизации через APIKEY

#### Для получения APIKEY нужно:
1. Зарегистрироваться на https://data.moex.com/
2. Оформить бесплатную подписку на ALGOPACK https://data.moex.com/products/algopack
3. В личном кабинете скопировать APIKEY, инструкция - https://moexalgo.github.io/start/

In [2]:
from moexalgo import session, Market, Ticker, CandlePeriod
session.TOKEN = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJaVHA2Tjg1ekE4YTBFVDZ5SFBTajJ2V0ZldzNOc2xiSVR2bnVaYWlSNS1NIn0.eyJleHAiOjE3MzU5ODUyMzgsImlhdCI6MTczMzM5MzIzOCwiYXV0aF90aW1lIjoxNzMzMzkzMjA5LCJqdGkiOiIzY2FhNTIxNC05Nzg5LTQ0MzUtYTllZS00NTc4Y2MzM2ExNmQiLCJpc3MiOiJodHRwczovL3NzbzIubW9leC5jb20vYXV0aC9yZWFsbXMvY3JhbWwiLCJhdWQiOlsiYWNjb3VudCIsImlzcyJdLCJzdWIiOiJmOjBiYTZhOGYwLWMzOGEtNDlkNi1iYTBlLTg1NmYxZmU0YmY3ZTozYTdjYzYxNi03NTI2LTQ3YjctYTBlMC1iYzkwMTk5YmQ3MzkiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJpc3MiLCJzZXNzaW9uX3N0YXRlIjoiY2Y2ZjM1MWMtYTU1Yi00NzBmLTkwOGMtNjg0Nzc0MWZmZGNiIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyIvKiJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJ2aWV3LXByb2ZpbGUiXX19LCJzY29wZSI6Im9wZW5pZCBvZmZsaW5lX2FjY2VzcyBpc3NfYWxnb3BhY2sgcHJvZmlsZSBlbWFpbCIsInNpZCI6ImNmNmYzNTFjLWE1NWItNDcwZi05MDhjLTY4NDc3NDFmZmRjYiIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwiaXNzX3Blcm1pc3Npb25zIjoiMTM3LCAxMzgsIDEzOSwgMTQwLCAxNjUsIDE2NiwgMTY3LCAxNjgsIDMyOSwgNDIxIiwibmFtZSI6ItCi0LjQvNGD0YAg0KDQtdC00LbQtdC_0L7QsiIsInByZWZlcnJlZF91c2VybmFtZSI6IjNhN2NjNjE2LTc1MjYtNDdiNy1hMGUwLWJjOTAxOTliZDczOSIsImdpdmVuX25hbWUiOiLQotC40LzRg9GAIiwiZmFtaWx5X25hbWUiOiLQoNC10LTQttC10L_QvtCyIn0.QgP7BjjZCVBI4tDaD-xBtuTYJh-qUDqTQJ4ZPzKA6I3VlwK-rqYOWUQwpUGDiHEfyd6h0a-JcF4GBY5c4cpgiukJXASzsQdEQ3gq94O3I9ORMcKonMUHzC3oZ7nXljtm7MbwbWfYyWKbrqLS_NBmFhqha6Q1nDPd8yOh5xZCuTk7ZjaHuT1WqLITUm1bbkIIvgkou6XdMt6vREIX4--rxtjY0eFh7mTQqXc4uhJs9QGfcLwkV2TpFC3bLzLdGxitqLdf8NgWDCTOJ81Xww_n03pBxtjhwQDMOYjebx57edKtssjalyZNnr8oWhes3_LnSTPpPdRJ4rL7Sn3rlt-TNA'

In [4]:
eq = Market('EQ')
super_candles_trades = eq.tradestats(date='2024-10-03')

In [5]:
super_candles_trades.head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,ABIO,2024-10-03,10:05:00,94.940,94.960,94.22,94.680,0.0011,849,802526.0,...,512,337,0.21,94.600,94.410,2024-10-03 10:05:11,1,18,97,298
1,ABRD,2024-10-03,10:05:00,207.400,209.000,207.40,208.000,0.0017,97,201688.0,...,19,78,-0.61,208.000,207.900,2024-10-03 10:05:11,5,177,5,263
2,AFKS,2024-10-03,10:05:00,15.324,15.399,15.20,15.268,0.0004,32153,49196533.0,...,13604,18549,-0.15,15.326,15.282,2024-10-03 10:05:11,1,187,280,300
3,AFLT,2024-10-03,10:05:00,52.450,52.680,52.31,52.560,0.0004,60845,31971313.0,...,22778,38067,-0.25,52.560,52.540,2024-10-03 10:05:11,1,206,51,299
4,AGRO,2024-10-03,10:05:00,1278.000,1280.000,1269.60,1272.200,0.0007,5260,6697920.0,...,1861,3399,-0.29,1274.600,1272.700,2024-10-03 10:05:11,5,18,265,299

## 2. Увеличен лимит на получение данных до 50_000 записей за одну дату

Это позволяет получить все данные за один день, например: tradestats, orderstats, obstats. Ранее ограничение было 10_000 записей и из-за это нельзя было получить все данные за день

In [ ]:
super_candles_trades = eq.tradestats(date='2024-10-03')

In [6]:
super_candles_trades.shape

(21574, 27)

## 3. Можно получить tradelog за сегодня

In [7]:
# лимит на выдачу данных: 10_000 записей
lkoh = Ticker('LKOH')
lkoh.trades()

,tradeno,tradetime,boardid,secid,price,quantity,value,period,tradetime_grp,systime,buysell,decimals,tradingsession
0,11587638833,09:59:58,TQBR,LKOH,6725.5,1,6725.5,S,959,2024-12-05 10:00:02,S,1,1
1,11587638834,09:59:58,TQBR,LKOH,6725.5,5,33627.5,S,959,2024-12-05 10:00:02,S,1,1
2,11587638835,09:59:58,TQBR,LKOH,6725.5,3,20176.5,S,959,2024-12-05 10:00:02,S,1,1
3,11587638836,09:59:58,TQBR,LKOH,6725.5,2,13451.0,S,959,2024-12-05 10:00:02,S,1,1
4,11587638837,09:59:58,TQBR,LKOH,6725.5,5,33627.5,S,959,2024-12-05 10:00:02,S,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,11590030635,12:13:50,TQBR,LKOH,6741.0,9,60669.0,N,1213,2024-12-05 12:13:51,B,1,1
9996,11590030636,12:13:50,TQBR,LKOH,6741.0,1,6741.0,N,1213,2024-12-05 12:13:51,B,1,1
9997,11590030637,12:13:50,TQBR,LKOH,6741.0,1,6741.0,N,1213,2024-12-05 12:13:51,B,1,1
9998,11590030638,12:13:50,TQBR,LKOH,6741.0,2,13482.0,N,1213,2024-12-05 12:13:51,B,1,1
9999,11590030639,12:13:50,TQBR,LKOH,6741.0,30,202230.0,N,1213,2024-12-05 12:13:51,B,1,1

In [15]:
# следующую порцию данных можно получить передав параметр 'tradeno' 
# получить сделки, у которых tradeno >= 11590030639
lkoh.trades(tradeno=11590030639)

,tradeno,tradetime,boardid,secid,price,quantity,value,period,tradetime_grp,systime,buysell,decimals,tradingsession
0,11590030639,12:13:50,TQBR,LKOH,6741.0,30,202230.0,N,1213,2024-12-05 12:13:51,B,1,1
1,11590030640,12:13:50,TQBR,LKOH,6741.0,2,13482.0,N,1213,2024-12-05 12:13:51,B,1,1
2,11590030641,12:13:50,TQBR,LKOH,6741.0,17,114597.0,N,1213,2024-12-05 12:13:51,B,1,1
3,11590030642,12:13:50,TQBR,LKOH,6741.0,1,6741.0,N,1213,2024-12-05 12:13:51,B,1,1
4,11590030643,12:13:50,TQBR,LKOH,6741.0,16,107856.0,N,1213,2024-12-05 12:13:51,B,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4249,11590749847,13:37:12,TQBR,LKOH,6743.0,5,33715.0,N,1337,2024-12-05 13:37:12,B,1,1
4250,11590750296,13:37:20,TQBR,LKOH,6743.0,4,26972.0,N,1337,2024-12-05 13:37:20,B,1,1
4251,11590750502,13:37:23,TQBR,LKOH,6743.0,1,6743.0,N,1337,2024-12-05 13:37:24,B,1,1
4252,11590750506,13:37:23,TQBR,LKOH,6742.5,5,33712.5,N,1337,2024-12-05 13:37:24,S,1,1
4253,11590750509,13:37:23,TQBR,LKOH,6741.5,5,33707.5,N,1337,2024-12-05 13:37:24,S,1,1

## 4. Можно получить историю по неактивным/истекшим инструментам

In [16]:
rim4 = Ticker('RIM4')
rim4.candles(start='2024-01-01', end='2024-12-31', period='1d')

,open,close,high,low,value,volume,begin,end
0,110010.0,110020.0,110270.0,109620.0,0,43.0,2024-01-03,2024-01-03 23:59:59
1,109900.0,110910.0,110910.0,109900.0,0,55.0,2024-01-04,2024-01-04 23:59:59
2,110880.0,111610.0,111670.0,110820.0,0,78.0,2024-01-05,2024-01-05 23:59:59
3,111730.0,111500.0,112380.0,111320.0,0,103.0,2024-01-08,2024-01-08 23:59:59
4,111530.0,113000.0,113090.0,111530.0,0,105.0,2024-01-09,2024-01-09 23:59:59
...,...,...,...,...,...,...,...,...
113,111700.0,113650.0,113700.0,111060.0,0,68169.0,2024-06-14,2024-06-14 23:59:59
114,113610.0,114150.0,114700.0,112700.0,0,51399.0,2024-06-17,2024-06-17 23:59:59
115,114130.0,113180.0,115100.0,112470.0,0,54613.0,2024-06-18,2024-06-18 23:59:59
116,113220.0,115300.0,116640.0,113220.0,0,76419.0,2024-06-19,2024-06-19 23:59:59
117,115290.0,116950.0,117490.0,113950.0,0,28897.0,2024-06-20,2024-06-20 23:59:59